################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Supersearcher/.vs/Supersearcher/v16
/Supersearcher/Supersearcher/obj
/Supersearcher/Supersearcher/.vs/Supersearcher/v16
